

.main{
  background-color:rgba(0,0,0,0.1);
  padding:1%;
}
.image{
  height: 200px;
  width: 150px;
}
.pic{
  text-align: center;
}
section{
  padding:3%;
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
}
