/* 1a2nd3ip4.github.io/csy1018/ 
  Name: Punam Dahal
	UN ID: 17421487 */
section{
font-family: 'Nova Oval', cursive;
padding:1% 3%;
width: 94%;
}

/* The biography containing div.. Changing its colour and other porperties*/
.main{
  text-align: justify;
  margin:0px 25%;
  padding:1%;
  width:50%;
}

.text h3{
  color:red;
}

/* Specifying image's alignment.. Making picture be at center*/
.profilepic{
  text-align: center;
}

.profile{
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

/* To make mobile responsive of the page*/
@media all and (max-width:600px)
{
  .main{
    width:98%;
    margin:0%;
    box-shadow: none;
  }
  section{
    padding:0%;
    width:100%;
  }
}
