/* 1a2nd3ip4.github.io/csy1018/
  Name: Punam Dahal
	UN ID: 17421487 */

/* Styling the home page of my portfolio...*/

/* Styling the sections of homepage */
section{
  padding:5%;
  display: flex;
  flex-flow:row wrap; /* Putting the contents of the section in row..*/
  justify-content:space-between;
  width:80%;
}

/* Defining the width and other properties of 3 blocks of homepage...*/
.myname, .cv, .bio{
  text-align: center;
  width:20%;
  margin-bottom:15px;
  font-family: 'Nova Oval', cursive;
  color:#eee;
}

.image{
  border-top-left-radius:25%;
  border-bottom-right-radius:25%;
  transition: transform 3s; /* Applying transition property for images..*/
}

.image:hover{
  transform: rotateY(360deg); /* Rotate images on hover*/
}

.cv:hover h3 a, .bio:hover h3 a{
  color:red;
}

/* Styling paragraph elements inside the blocks in homepage*/
.myname h3, .cv h3, .bio h3{
  padding:1%;
  margin-top:35px;
  color:transparent;
  text-align: center;
  transition: color 2s;
}

.myname:hover  h3, .cv:hover  h3, .bio:hover h3{
  color: black;
  font-weight: bold;
}

.cv h3 a, .bio h3 a{
  color:transparent;
  transition: color 2s;
  margin:0;
  padding:0;
}

/*Using media query for responsive page design*/
@media all and (max-width:600px){
  section{
    flex-flow:column wrap;
  }

  .myname, .cv, .bio{
    width:100%;
  }
}
