/* Name: Punam Dahal
	UN ID: 17421487 */
/*The CSS file commmon to all the pages of my portfolio.
  The CSS file styles header, footer and all elements inside them.*/

/*Set the margin and padding of the document to 0 on all sides*/
body{
  margin:0%;
  padding:0%;
  background-position: left top;
  background-repeat:repeat;
  animation-name:bgchange;
  animation-duration:5s;
  animation-iteration-count: infinite;
}

@keyframes bgchange {
  0% {background-image:url(../image/bg3.jpg);}
  50% {background-image:url(../image/bg4.jpg);}
  100% {background-image:url(../image/bg3.jpg);}
}
/*Style the header of the document */
header{
  padding:1% 2% 0% 2%;
  background:linear-gradient(to top, transparent, lightgreen, #a193ff);/*A gradient color to the header*/
  display: flex; /* Displays in flex row form, and justifies the elements within the header*/
  flex-flow:row wrap;
  justify-content: space-between;
}


/*Styling the division containing logo of the page*/
.logo{
  padding:5px 2%;
  width:6%;
}

/*Format the title text of a page*/
.title{
  font-family: 'Nova Oval', sans-serif; /*Apply google font*/
  width:50%;
  padding-top:25px;
  margin:0;
}

/*Cascading styles for navigations*/
/*Put all the menus in a row*/
.menu_item{
  width:40%;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  list-style: none;
  align-items: flex-start;
  margin:0;
  padding:0;
}

/*Each menu item's css*/
.menu_item li{
  padding: 7px 15px;
  margin:0;
}

/*Change background of each menu on hover*/
.menu_item li:hover{
  background-color: rgba(0,0,0,0.2);
  box-shadow : 0px 8px 2px -4px #222;  /* Shadow to the bottom of the menubar*/
  border-radius:20px;
}

/*Styling the visuals of link assigned to menus*/
.menu_item li a{
  font-size: 1.25em;
  color:black;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  margin:0;
  padding:0;
  text-decoration: none;
}

/*Styling the footer*/
footer{
  background-color: black;
  padding:1%;
  color:#eee;
  align-items: center;
  display:flex;
  flex-flow: column wrap;
}

/*Social media link styling*/
.socialmedia{
  display: flex;
  flex-flow: row wrap;
}
.social{
  width:30px;
  height:30px;
}

/* This piece of rule makes header and footer of all the pages mobile repsonsive..
  When the width of screen is below 600px, the css written inside this @media rule comes in effect..
*/

@media all and (max-width:600px){
  header{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .logo{
    width:96%;
    text-align: center;
  }

  .title{
    width:100%;
    text-align: center;
  }

  .menu_item{
    width:96%;
    flex-flow: column wrap;
  }

  .menu_item li{
    width:94%;
    text-align: center;
  }

  footer{
    width:98%;
  }
}
